click==8.1.6
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.17.2
PyYAML==6.0.1
rich==13.7.1
shellingham==1.5.4
typer==0.15.3
typing_extensions==4.10.0

torch>=2.0.0
torchvision>=0.15.0
transformers>=4.49.0
pandas==2.2.3
scikit-learn==1.6.1
pip==24.1
attrs==23.2.0
distro==1.9.0
wheel==0.42.0
protobuf==5.29.3
pyOpenSSL==23.2.0
cryptography==41.0.7
pillow==10.2.0 # are you sure we have a .2.1?
docutils==0.21.2
Jinja2==3.1.2
filelock==3.13.1
numpy==1.26.4
timm==1.0.15

ray[default]
 debugpy

